.search {
  position: absolute;
  z-index: 25;
  height: 400px;
  color: black;
  background-color: white;
  border-radius: 15px;
  top: 25%;
  box-shadow: 7px 7px 13px 0px black;
}

.search__block {
  margin: 20px 20px;
}

.search__block-input {
  width: 70%;
  border: none;
  background-color: rgb(65, 163, 98);
  border-radius: 7px;
}

.search__block-title {
  font-family: Roboto;
  font-size: 16px;
  color: red;
}
