:root {
  --highlight-color: rgb(112, 86, 216);
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Black";
  src: url("./assets/fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("./assets/fonts/Roboto-Bold.ttf");
}
html {
  background-color: rgb(0, 0, 0);
  color: white;
}

@media (max-width: 576px) {
  header {
    display: flex;
    justify-content: flex-end;
  }
  .search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #fff;
  }
  .input-search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    margin: 12px 5px;
    background-color: transparent;
    pointer-events: painted;
  }
  .btn-search-open ~ .input-search, 
  .input-search-open {
    width: 370px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }

  .navbar .navbar__image {
    display: none;
  }

  .navbar__link {
    display: none;
  }

  .btn-search  > svg {
    width: 30px;
    height: 28px;
  }

  .navbar__link-item a {
    display: block;
    all: unset;
    cursor: pointer;
  }

  footer {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    list-style: none;
  }
}

@media (max-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
